{% extends "templates/en.layout.njk" %}

{% block vectors %}
  {% include "vectors/search.sym" %}
{% endblock %}

{% block body %}
  <main>
    <h1 class="row">Jakub Janowski, full-stack .NET developer with experience in ASP and WPF.</h1>
    <div class="row">I do websites and desktop applications.</div>
    <a class="row" href="https://github.com/jakubjanowski">My GitHub profile</a>
    <a href="mailto:contact@jakubjanowski.com">Email me</a>
  </main>
{% endblock %}