{% extends "templates/en.layout.njk" %}

{% block meta %}
  <link rel="canonical" href="https://jakubjanowski.com/"/>
  <meta name="description" content="Full-stack .NET developer with experience in ASP and WPF.">
  <title>Jakub Janowski</title>
{% endblock meta %}

{% block body %}
  <main>
    <h1 class="row">Jakub Janowski, full-stack .NET developer with experience in ASP and WPF.</h1>
    <div class="row">I do websites and desktop applications.</div>
    <a class="row" href="https://github.com/jakubjanowski" rel="noopener">My GitHub profile</a>
    <a href="mailto:contact@jakubjanowski.com" rel="nofollow noopener" target="_blank" title="contact@jakubjanowski.com">Email me</a>
  </main>
{% endblock %}