{% extends "templates/pl.layout.njk" %}

{% block meta %}
  <link rel="canonical" href="https://jakubjanowski.com/pl/"/>
  <meta name="description" content="Full-Stack .NET developer z doświadczeniem w ASP i WPF.">
  <title>Jakub Janowski</title>
{% endblock meta %}

{% block body %}
  <main>
    <h1 class="row">Jakub Janowski, Full-Stack .NET developer z doświadczeniem w ASP i WPF.</h1>
    <div class="row">Tworzę strony internetowe i aplikacje komputerowe.</div>
    <a class="row" href="https://github.com/jakubjanowski" rel="noopener">Mój profil na GitHub</a>
    <a class="row" href="mailto:kontakt@jakubjanowski.pl" rel="nofollow noopener" target="_blank" title="kontakt@jakubjanowski.pl">Napisz do mnie email</a>
  </main>
{% endblock %}