{% extends "templates/pl.layout.njk" %}

{% block vectors %}
  {% include "vectors/search.sym" %}
{% endblock %}

{% block body %}
  <main>
    <h1 class="row">Jakub Janowski, programista Full-Stack .NET z doświadczeniem w ASP i WPF.</h1>
    <div class="row">Tworzę strony internetowe i aplikacje komputerowe.</div>
    <a class="row" href="https://github.com/jakubjanowski">Mój profil na GitHub</a>
    <a class="row" href="kontakt@jakubjanowski.pl">Napisz do mnie email</a>
  </main>
{% endblock %}